<!DOCTYPE html>
<html>
<head>
    <title>My Feed</title>
    <style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #0033A0;
        display: flex;
        flex-direction: column; /* Set flex container to be a column */
        align-items: center; /* Center content horizontally */
        justify-content: center; /* Center content vertically */
        height: 100vh; /* Set the container height to fill the viewport */
    }
    </style>
</head>
<body>
    <h1>My Feed</h1>
    <div class="container">
        <ul>
            {% for item in papers %}
                <li><a href="{{ item.url }}">{{ item.summary }}</a></li>
            {% endfor %}
        </ul>
    </div>


    <h2 style="color: white;">Recommended Videos</h2>
    <div class="container">
        {% for item in videos %}
            <video controls width="320" height="180">
                <source src="{{ item }}" type="video/mp4">
                <!-- Add more <source> elements with different video formats for cross-browser support -->
                Your browser does not support the video tag.
            </video>
        {% endfor %}
    </div>
</body>
</html>
