<!DOCTYPE html>
<html>
<head>
    <title>Image Selection and Resizing</title>
    <style>
        .image-container {
            display: inline-block;
            margin: 10px;
            border: 2px solid #ccc;
            padding: 5px;
        }

        .resizable {
            display: block;
            max-width: 200px;
        }

        .selected {
            border: 4px solid #00f;
        }
    </style>
</head>
<body>
    <h1>Don't know what you want to research? Create your own mood board and we'll suggest some topics to you!</h1>
    <p>Select an image by clicking on it. Click and drag the corner to resize the image.</p>
    
    <!-- Display the images -->
    <div class="image-container" id="image-container-1">
        <img src="../static/images/acc_beam_det_part.png" class="resizable" id="image-1"
             data-categories="Accelerators|Beam systems|Detectors">
    </div>
	<div class="image-container" id="image-container-2">
        <img src="../static/images/det_mech_beam.jpg" class="resizable" id="image-2"
             data-categories="Detectors|Mechanics|Beam systems">
    </div>
	<div class="image-container" id="image-container-3">
        <img src="../static/images/mech_elec.jpg" class="resizable" id="image-3"
             data-categories="Mechanics|Electronics">
    </div>
	<div class="image-container" id="image-container-4">
        <img src="../static/images/bio_rad.jpeg" class="resizable" id="image-4"
             data-categories="Biophysics|Radio Frequency Technology">
    </div>
	<div class="image-container" id="image-container-5">
        <img src="../static/images/cos_theo_det.jpeg" class="resizable" id="image-5"
             data-categories="Cosmology & Astroparticle Physics|Theoretical Physics|Detectors">
    </div>
	<div class="image-container" id="image-container-6">
        <img src="../static/images/cryo_sup.jpeg" class="resizable" id="image-6"
             data-categories="Cryogenics|Superconductivity">
    </div>
	<div class="image-container" id="image-container-7">
        <img src="../static/images/cryo_sup_mat_mag_det.jpeg" class="resizable" id="image-7"
             data-categories="Cryogenics|Superconductivity|Materials|Magnets|Detectors">
    </div>
	<div class="image-container" id="image-container-8">
        <img src="../static/images/det_ict_part_ics.jpeg" class="resizable" id="image-8"
             data-categories="Detectors|Information & Communication Technology|Industrial Controls & Simulations|Particle Tracking & Radiation Monitoring">
    </div>
	<div class="image-container" id="image-container-9">
        <img src="../static/images/las_cryo_mat.jpeg" class="resizable" id="image-9"
             data-categories="Lasers|Cryogenics|Materials">
    </div>
	<div class="image-container" id="image-container-10">
        <img src="../static/images/mag_mat_det.jpeg" class="resizable" id="image-10"
             data-categories="Magnets|Materials|Detectors">
    </div>

	<button id="show-recommendations-button">Show me recommendations!</button>
    <div id="recommendations"></div>

	<div class="container">
		<p>Want to explore one of these topics some more? <br>
			Go to our querying interface to get some easy-to-digest information about the frontiers of research!</p>
        <a href="/">
            <button class="btn btn-primary btn-lg">Explore further!</button>
        </a>
    </div>

    <script>
		document.addEventListener('DOMContentLoaded', () => {
			// Function to enable image resizing
			function enableResizing(image) {
				const container = image.parentElement;
				let isResizing = false;
				let originalX, originalY, originalWidth, originalHeight;

				image.addEventListener('mousedown', (e) => {
					e.preventDefault();
					isResizing = true;
					originalX = e.clientX;
					originalY = e.clientY;
					originalWidth = image.clientWidth;
					originalHeight = image.clientHeight;
				});

				document.addEventListener('mousemove', (e) => {
					if (!isResizing) return;

					const newWidth = originalWidth + (e.clientX - originalX);
					const newHeight = originalHeight * (newWidth / originalWidth); // Maintain aspect ratio

					image.style.width = newWidth + 'px';
					image.style.height = newHeight + 'px';
				});

				document.addEventListener('mouseup', () => {
					isResizing = false;
				});
			}

			function handleImageSelection(image) {
				// Toggle the 'selected' class when the image is clicked
				image.classList.toggle('selected');
			}

			// Dictionary to store the tags and their weightages based on user selection
			let weighting = {};

			let weightingArray = [];

			let subcategory_mapping = {
				'Accelerators': 'LHC, Synchotron, Linear Accelerators, Linear Colliders',
				'Beam systems': 'Beam line, Jets, Collimators, Proton beams, DAQ, DQM',
				'Cryogenics': 'Liquid helium, Superfluids, Liquid nitrogen, Thermal conductivity, Thermal resistance, Superconductors, Cryoengineering',
				'Detectors': 'CMS, LHCb, ALICE, ATLAS, TOTEM, MoEDAL, LHCf, SND, FASER, Subdetectors, Scintillators, Calorimeters, Trackers, Photomultipliers, Cherenkov detectors, Timepix detector',
				'Electronics': 'Charge coupled device, Readout systems, Front-end electronics, Analog to digital converter, Digital signal processor, Mean-timer circuits, Gain, Amplifiers, Discriminators, Charge to digital converters (QDC), Time to digital converters (TDC), LED pulsing',
				'Industrial Controls & Simulations': 'Data acquisition (DAQ), 3D magnetic sensor calibrator, Control and Monitoring Framework, Chemical Register for Environment, Health and Safety (CERES), Radon detectors, Train Inspection Monoral (TIM)',
				'Cosmology & Astroparticle Physics': 'Dark matter, Neutrino astronomy, Cosmic Microwave Background Radiation, Antimatter, High energy cosmic rays, Supernovae, Gamma-ray astronomy, Dark energy',
				'Information & Communication Technology': 'ActiWiz, BioDynaMo, CERN VM-FS, CERNbot, FLUKA, Indico, Invenio, REMUS, ROOT, Data Analysis, Artificial Intelligence, Neural Networks',
				'Magnets': 'Electromagnetism, Dipole magnet, Quadrupole magnet, 3D Magnetic Sensor Calibrator, GaToroid, Magnet Power supplies',
				'Biophysics': 'BioDynaMo, Particle Therapy, Alpha Therapy, gamma-MRI , Medical ventilators',
				'Materials': 'Front-end readout, Micro Chemical Vias, Thermal management materials, Thin film coatings',
				'Mechanics': 'Compact Universal Orbital Cutter, Mounting mechanisms, Precision positioning',
				'Lasers': 'Heavy ions, Charged particles, Optical lenses, Precision Laser Inclinometer',
				'Microelectronics': 'PicoTDC, DC-DC converter, Front-end readout electronics, GEMPix, KiCad EDA , Medipix, Micro Chemical Vias, Timepix',
				'Particle Tracking & Radiation Monitoring': 'Gas electron multiplier, Medipix, Strip SiPM, Timepix',
				'Radio Frequency Technology': 'Coaxial Pulse Conditioner, Compact Linear Proton Accelerator, Thin film coatings, Gamma rays',
				'Superconductivity': 'Thin film coatings, Cooling systems',
				'Theoretical Phyiscs': 'Standard Model, Beyond the Standard Model, String Theory, Higgs boson, Energy'
			}

			let categories = [
				'Accelerators', 'Beam systems', 'Cryogenics', 'Detectors', 
				'Electronics', 'Industrial Controls & Simulations', 'Cosmology & Astroparticle Physics',
				'Information & Communication Technology', 'Magnets', 
				'Biophysics', 'Materials', 'Mechanics', 
				'Lasers', 'Microelectronics', 'Particle Tracking & Radiation Monitoring',
				'Radio Frequency Technology', 'Superconductivity', 'Theoretical Physics'
			]

			// Function to get the categories for an image
			function getImageCategories(image) {
				const categoriesStr = image.getAttribute('data-categories');
				return categoriesStr.split('|');
			}

			// Call the function for each resizable image
			const resizableImages = document.querySelectorAll('.resizable');
			resizableImages.forEach((image, index) => {
				enableResizing(image);

				// Add a click event listener to handle image selection
				image.addEventListener('click', () => {
					handleImageSelection(image);

					// Get the categories for the selected image
					const selectedCategories = getImageCategories(image);
					selectedCategories.forEach(tag => {
						const currentWeight = weighting[tag] || 0;
						weighting[tag] = currentWeight + image.clientWidth * image.clientHeight;
					});

					weightingArray = Object.entries(weighting);
					weightingArray.sort((a, b) => b[1] - a[1]);
					console.log('Sorted List:', weightingArray);

					const resultDisplay = document.getElementById('result-display');

					resultDisplay.innerHTML = `
					<p>It seems like the first thing you may be interested in is: ${weightingArray[0][0]}</p>
					<p>Another topic of interest may be: ${weightingArray[1][0]}</p>
					`;
				});
			});

			// Get the button element and recommendations div
			const showRecommendationsButton = document.getElementById('show-recommendations-button');
			const recommendationsDiv = document.getElementById('recommendations');

			// Add a click event listener to the button
			showRecommendationsButton.addEventListener('click', () => {
				// Sort the array based on the second element (value) of each pair in reverse order
				weightingArray.sort((a, b) => b[1] - a[1]);

				// Generate the HTML content for the recommendations
				let recommendationsHTML = '';
				for (let i = 0; i < Math.min(3, weightingArray.length); i++) {
					recommendationsHTML += `<p>Area of interest ${i + 1}: ${weightingArray[i][0]}</p> 
											<p style='margin-left: 25px;'>Futher topics to explore in this area are: ${subcategory_mapping[weightingArray[i][0]]}</p>`;
				}

				// Display the recommendations on the screen
				recommendationsDiv.innerHTML = recommendationsHTML;
			});
		});
	</script>
</body>
</html>
